
.card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}

h4,
h6 {
    font-weight: 400;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}



.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}

@media (max-width: 768px) {
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: none;
      -webkit-overflow-scrolling: touch;
    }
  
    .table-responsive table {
      width: auto;
      margin-top: 0;
      padding: 0;
    }
  
    .table-responsive .thead th,
    .table-responsive .tbody td,
    .table-responsive .tfoot th {
      white-space: nowrap;
      display: table-cell;
      text-align: left;
    }
  
    .table-responsive .thead th:first-child,
    .table-responsive .tbody td:first-child,
    .table-responsive .tfoot th:first-child {
      width: 50px;
    }
}
// @media (max-width: 500px) {

//     .table-responsive {
//       display: block;
//       width: 100%;
//       overflow-x: auto;
//       -ms-overflow-style: none;
//       -webkit-overflow-scrolling: touch;
//     }
  
//     .table-responsive table {
//       width: auto;
//       margin-top: 0;
//       padding: 0;
//     }
  
//     .table-responsive .thead th,
//     .table-responsive .tbody td,
//     .table-responsive .tfoot th {
//       white-space: nowrap;
//       display: table-cell;
//       text-align: left;
//     }
  
//     .table-responsive .thead th:first-child,
//     .table-responsive .tbody td:first-child,
//     .table-responsive .tfoot th:first-child {
//       width: 50px;
//     }
  
// }

@media (max-width: 500px) {
    /* Adjust table layout */
    .table {
      width: 100%; /* Ensure table fills the available screen width */
    }
  
    .table-responsive {
      overflow-x: hidden; /* Disable horizontal scrolling for smaller screens */
    }
  
    /* Adjust image width */
    img {
      max-width: 100%; /* Scale images proportionally to fit the container */
      height: auto; /* Maintain image aspect ratio */
    }
  
    /* Adjust 'Shop Now' button position */
    .shop-now {
      margin: 0 auto; /* Center the button on smaller screens */
      display: block; /* Make the button visible on smaller screens */
    }
  }
  
  