<div class="container-fluid">
    <footer class="text-center text-lg-start text-white"
            style="background-color: #6351ce"
            >
      <div class="container p-4 pb-0">
        <section class="" style="background-color: #6351ce">
          
          <div class="row">
            
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-2 font-weight-bold">
                Company name
              </h6>
              <hr
                class="mb-3 mt-n1 d-inline-block mx-auto"
                style="width: 60px; background-color: #000; height: 4px"
                />
              <p>
                CartTrove <br>
                An upscale online retail destination offering a curated selection of 
                premium clothing, exquisite jewelry, and cutting-edge electronics.
              </p>
            </div>
            
  
            <hr class="w-100 clearfix d-md-none" />
  
           
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-2 font-weight-bold">Products</h6>
              <hr
                class="mb-3 mt-n1 d-inline-block mx-auto"
                style="width: 60px; background-color: #000; height: 4px"
                />
              <p>
                <a class="text-white ">Clothing</a>
              </p>
              <p style="margin-top: -5px">
                <a class="text-white">Electronics</a>
              </p>
              <p style="margin-top: -5px">
                <a class="text-white">Furniture</a>
              </p>
              <p style="margin-top: -5px">
                <a class="text-white">Shoes</a>
              </p>
              <p style="margin-top: -5px">
                <a class="text-white">Miscellaneous</a>
              </p>
            </div>
            
  
            <hr class="w-100 clearfix d-md-none" />
  
           
            <hr class="w-100 clearfix d-md-none" />
  
           
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-2 font-weight-bold">Contact</h6>
              <hr
                class="mb-3 mt-n1 d-inline-block mx-auto"
                style="width: 60px; background-color: #000; height: 4px"
                />
              <p><i class="fas fa-home mr-3"></i> LPU, 144411, INDIA</p>
              <p><i class="fas fa-envelope mr-3"></i> carttrove@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> +91 879645213</p>
              <p><i class="fas fa-print mr-3"></i> +92 778694535</p>
            </div>
        
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-2 font-weight-bold">Follow us</h6>
              <hr
              class="mb-3 mt-n1 d-inline-block mx-auto"
              style="width: 60px; background-color: #000; height: 4px"
              />
              <div>
                 <!-- Facebook -->
                  <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #3b5998"
                    href="#!"
                    role="button"
                    ><i class="fab fa-facebook-f"></i
                  ></a>

                 <!-- Twitter -->
                  <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #55acee"
                      href="#!"
                      role="button"
                      ><i class="fab fa-twitter"></i
                  ></a>

                <!-- Google -->
                <a
                  class="btn btn-primary btn-floating m-1"
                  style="background-color: #dd4b39"
                  href="#!"
                  role="button"
                  ><i class="fab fa-google"></i
                ></a>

                <!-- Instagram -->
                <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #ac2bac"
                    href="#!"
                    role="button"
                    ><i class="fab fa-instagram"></i
                ></a>

                <!-- Linkedin -->
                <a
                    class="btn btn-primary btn-floating m-1"
                    style="background-color: #0082ca"
                    href="#!"
                    role="button"
                    ><i class="fab fa-linkedin-in"></i
                ></a>
                <!-- Github -->
                  <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #333333"
                      href="https://github.com/saurabhm02/cartTrove"
                      target="_blank"
                      role="button"
                      ><i class="fab fa-github"></i
                  ></a>
              </div>
            </div>
          </div>

        </section>

      </div>
    
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2020 Copyright:
        <a class="text-white" href="https://github.com/saurabhm02"
           >Saurabh Mahapatra</a
          >
      </div>
     
    </footer>
  
  </div>