

.mt-n1{
    margin-top: -4rem;
  }
  
  .mt-n2{
    margin-top: -9rem;
  }
  
  .mt-6{
    margin-top: 5rem;
    font-weight: bolder;
    font-size: 70px;
    letter-spacing: -2px;
  }
  .mx-6{
    margin-left: 13.5rem;
  
  }
