<main class="h-full relative bg-white overflow-hidden">
    <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
      <div class="container">
        <div class="row">
          <div class="mx-auto mw-100 mw-sm-75 col-lg-6 mt-10">
  
            <h1 class="display-2 font-weight-bold mt-6 mx-4 fw-bolder">
          
              Summer styles are finally here
          
            </h1>
          
            <p class="mt-4 m-4 fs-4">
          
              This year, our new summer collection will shelter you from the
          
              harsh elements of a world that doesn't care if you live or die.
          
            </p>
            <div class="m-4 w-140 h-">
              <button
                type="button"
                class="btn btn-primary"
                routerLink="/data"
              >
                Shop Now
              </button>
            </div>
          </div>
  
          <div aria-hidden="true" class="col-lg-6">
            <div class="row">
              <div class="col-4 mb-4 mt-6">
                <img
                  src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg"
                  alt=""
                  class="w-100 h-55 rounded overflow-hidden"
                />
              </div>
              <div class="col-4 mb-4 mt-n1">
                <img
                  src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg"
                  alt=""
                  class="w-100 h-55 rounded overflow-hidden"
                />
              </div>
              <div class="col-4 mb-4 mt-6">
                <img
                  src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg"
                  alt=""
                  class="w-100 h-55 rounded overflow-hidden"
                />
              </div>
              <div class="col-4 mb-4">
                <img
                  src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg"
                  alt=""
                  class="w-100 h-55 rounded overflow-hidden"
                />
              </div>
              <div class="col-4 mb-4 mt-n2">
                <img
                  src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg"
                  alt=""
                  class="w-100 h-55 rounded overflow-hidden"
                />
              </div>
              <div class="col-4 mb-3">
                <img
                  src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg"
                  alt=""
                  class="w-100 h-55 rounded overflow-hidden"
                />
              </div>
              <div class="col-4 mb-3 mt-n2 mx-6">
                <img
                  src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg"
                  alt=""
                  class="w-100 h-55 rounded overflow-hidden"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
