

// .navbar {
//     color: white;
//     height: 80px;
//     padding: 10px 0;
//     background-color: #02032c;
   
//   }
//   .navbar-toggler {
//     padding: 5px 10px; 
//   }

//   .nav-link {
//     padding: 0.5rem 1rem;
//   }

//  ul li a{
//     color: white;
//   }

//   button{
//     color: white;
//   }

/* Default button style */
.navl {
  text-decoration: none;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

/* Hover state */
.navl:hover {
  color: #007bff;
  cursor: pointer; /* Set cursor to pointer on hover */
}

/* Active state */
.navl.active {
  color: #007bff;
}
.d-flex.flex-row {
  gap: 0;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: rgb(238, 172, 29);
  border-radius: 40px;
  padding: 0px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 35px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 300px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  // background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 45px;
  width: 45px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }


  