

.navbar {
    color: white;
    height: 80px;
    padding: 10px 0;
    background-color: #02032c;
   
  }
  .navbar-toggler {
    padding: 5px 10px; 
  }

  .nav-link {
    padding: 0.5rem 1rem;
  }