<nav class="navbar navbar-expand-lg "> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="" width="180" height="90" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ml">
        <li class="nav-item" routerLink="data">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <form class="d-flex mx-4" role="search">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button routerLink="cart" class="btn navbar-nav">
          <i class="fa fa-cart-plus" style="font-size: 20px;" aria-hidden="true"></i>
          <div class="badge bg-danger" style="font-size: 10px;">{{totalItem}}</div>
      </button>
    </div>
  </div>
</nav>
