<!-- <div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">All Products</div>
        <div class="item">Electronics</div>
        <div class="item">Fashion</div>
        <div class="item">Jwellery</div>
    </div>
</div> -->

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item mx-4">
            <button type="button" class="nav-link active" placement="top" ngbTooltip="All Products">
                All Products
              </button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link " placement="top" ngbTooltip="Electronics">
                Electronics
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link " placement="top" ngbTooltip="Fashion">
                Fashion
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link " placement="top" ngbTooltip="Jwellery">
                Jwellery
            </button>
        </li>
      </ul>
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> -->
</div>


<div class="container my-4">
    <div class="row">
            <ng-container *ngFor="let post of productList; let i = index">
                <div class="card col-md-3" #postCard{{i}}>
            
                    <div class="card-body d-flex flex-column">  
                        <h5>{{post.title}}</h5>
                        <p class="card-text">
                          {{post.description?.split(" ").slice(0,8).join(" ") + "..."}}  
                        </p>
                        
                        <img 
                          [src]="post.image" 
                          class="card-img align-content-center justify-content-center" 
                          alt="Product Image">
            
                        <div class="d-flex justify-content-between mt-3">
            
                        <p class="text-success font-weight-bold">${{post.price}}</p>
            
                        <button class="btn btn-outline-secondary"> 
                         Remove Item
                        </button>
                       
                        <button class="btn btn-outline-secondary" (click)=addToCart(post)>
                            Add to Cart  
                        </button>
            
                        </div>
                    
                    </div>
                    
                </div> 
            </ng-container>
         
      </div>
</div>